.main_header {
    display: grid;
    width: 100vw;
    height: calc(100vh);
    margin-top: 3rem;
    place-items: center;
}

.main_header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}

.main_header-left {
    margin-top: -3rem;
}

.main_header-left h4 {
    margin-bottom: 1rem;
    font-weight: 400;
    color: var(--color-secondary);
}

.main_header-left p {
    font-size: 1.1rem;
    margin: 1rem 0 3.5rem;
}

.main_header-right {
    display: grid;
    position: relative;
    place-items: center;
}

.main_header-circle {
    height: 25rem;
    width: 25rem;
    position: absolute;
    background: linear-gradient(75deg, var(--color-secondary), transparent);
    border-radius: 50%;
    transition: var(--transition);
}

.main_header-image {
    position: relative;
}

.main_header-right:hover .main_header-circle {
    filter: blur(15px);
}

/* ========= PROGRAMS =========== */
.programs {
    margin-top: 3rem;
}

.programs_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 4rem;
    gap: 3rem;
}

.programs_program a {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.programs_program:hover a {
    background: var(--color-secondary);
    color: var(--color-gray-600);
}