.main_header {
    display: grid;
    width: 100vw;
    height: calc(100vh);
    margin-top: 3rem;
    place-items: center;
}

.main_header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}

.main_header-left {
    margin-top: -3rem;
}

.main_header-left h4 {
    margin-bottom: 1rem;
    font-weight: 400;
    color: var(--color-secondary);
}

.main_header-left p {
    font-size: 1.1rem;
    margin: 1rem 0 3.5rem;
}

.main_header-right {
    display: grid;
    position: relative;
    place-items: center;
}

.main_header-circle {
    height: 25rem;
    width: 25rem;
    position: absolute;
    background: linear-gradient(75deg, var(--color-secondary), transparent);
    border-radius: 50%;
    transition: var(--transition);
}

.main_header-image {
    position: relative;
}

.main_header-right:hover .main_header-circle {
    filter: blur(15px);
}

/* ========= PROGRAMS =========== */
.programs {
    margin-top: 3rem;
}

.programs_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 4rem;
    gap: 3rem;
}

.programs_program a {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.programs_program:hover a {
    background: var(--color-secondary);
    color: var(--color-gray-600);
}




/* ========= VALUES =========== */
.values_container {
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 12%;
}

.values_image {
    filter: saturate(0.25);
    transition: var(--transition);
}

.values_image:hover {
    filter: saturate(1);
}

.values_right > p {
    margin: 1.5rem 0 5rem;
}

.values_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.4rem 2.4rem;
}

.card.values_value {
    position: relative;
    padding: 3;
    text-align: left;
}

.card.values_value span {
    position: absolute;
    top: -1.5rem;
}





/* ========= FAQS =========== */
.faqs_wrapper {
    margin-top: 4rem;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 5rem;
}

.faq {
    padding: 2rem;
    cursor: pointer;
    background: var(--color-gray-500);
    border-radius: 1rem;
}

.faq div {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.faq_icon {
    font-size: 1.5rem;
    background: transparent;
    color: var(--color-gray-100);
}

.faq p {
    margin-top: 1.5rem;
}






/* ========= TESTIMONIALS =========== */
.testimonials {
    margin-inline: auto;
    width: 50rem;
}

.testimonials_head {
    justify-content: center;
}

.card.testimonial {
    margin-top: 5rem;
    text-align: left;
    position: relative;
}

.testimonial_avatar {
    position: absolute;
    border-radius: 1.5rem;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border: 2px solid transparent;
    box-shadow: 0 1.5rem 2rem rgba(26, 26, 54, 0.4);
    top: -2rem;
    left: calc(50% - 2rem);
    transition: var(--transition);
}

.testimonial:hover .testimonial_avatar {
    border-color: var(--color-gray-400);
    border-radius: 50%;
}

.testimonial_quote {
    font-style: italic;
    margin: 1rem 0 2rem;
}

.card small.testimonial_title {
    margin-top: 0.3rem;
}

.testimonials_btn-container {
    display: flex;
    width: fit-content;
    margin: 2.5rem auto 0;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.testimonials_btn {
    cursor: pointer;
    background: transparent;
}

.testimonials_btn svg {
    width: 3rem;
    height: 3rem;
    fill: var(--color-primary);
    font-size: 1.8rem;
}






/* ========= FOOTER =========== */
footer {
    margin-top: 7rem;
    padding-top: 7rem;
    color: var(--color-gray-100);
    background: var(--color-primary);
    font-size: 0.9rem;
}

.footer_container {
    display: grid;
    grid-template-columns: 26rem 1fr 1fr 1fr;
    gap: 6rem;
}

.footer_container article {
    gap: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_container article p {
    margin-top: 0.5rem;
}

.footer_container article h4 {
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

.footer_socials {
    display: flex;
    margin-top: 1.5rem;
    gap: 1rem;
    align-items: center;
}

.footer_socials a {
    border: 1px solid transparent;
    border-radius: 0.6rem;
    padding: 0.7rem;
    background: var(--color-gray-100);
    transition: var(--transition);
}

.footer_socials a svg {
    color: var(--color-gray-600);
}

.footer_socials a:hover {
    background: transparent;
    border-color: var(--color-gray-100);
}

.footer_copyright {
    text-align: center;
    padding: 1.5rem 0;
    color: var(--color-gray-100);
    margin-top: 5rem;
    border-top: 2px solid var(--color-primary-variant);
}







/* MEDIA QUERIES (medium screens) */
@media screen and (max-width: 1024px) {
/* MAIN HEADER */
    .main_header {
        padding: 12rem 0;
        height: fit-content;
        /* padding-top: 4rem; */
    }

    .main_header-container {
        gap: 0;
    }

    .main_header-circle {
        height: 16rem;
        width: 16rem;
    }


/* PROGRAMS */
    .programs_wrapper {
        grid-template-columns: 1fr 1fr;
    }

/* VALUES */
    .values_container {
        grid-template-columns: 1fr;
        gap: 4rem;
        justify-content: center;
    }
}